# Environment variables
.env
.env.local
.env.*.local
.development.env
.production.env
!.example.env

# Dependencies
/node_modules

# Build output
/dist
/build
dist/
build/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
/coverage
/.nyc_output
report
junit.xml
test-report.xml
# НЕ игнорируем coverage badges
!assets/coverage/*.svg

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Temporary files
.commit

# Husky
.husky/_
!/types/.env

# Uploads storage
uploads

# Types
types/src/prismaTypes
types/src/prismaTypes.ts