# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests - игнорируем coverage, НО НЕ badges
/coverage
/.nyc_output
!assets/coverage/*.svg

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Storage configs
.env
.development.env
.production.env
.env.local
.env.*.local
!.example.env

# Temporary
report
junit.xml
test-report.xml
.commit

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/dev.db*
!/.development.env
!/.env

# Husky
.husky/_
